PROJECT_NAME=school-etl-platform
ENVIRONMENT=development

POSTGRES_SOURCE_HOST=postgres-source
POSTGRES_SOURCE_PORT=5432
POSTGRES_SOURCE_USER=school_user
POSTGRES_SOURCE_PASSWORD=CHANGE_ME
POSTGRES_SOURCE_DB=school_source

POSTGRES_WAREHOUSE_HOST=postgres-warehouse
POSTGRES_WAREHOUSE_PORT=5432
POSTGRES_WAREHOUSE_USER=warehouse_user
POSTGRES_WAREHOUSE_PASSWORD=CHANGE_ME
POSTGRES_WAREHOUSE_DB=school_warehouse

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minio_admin
MINIO_SECRET_KEY=CHANGE_ME
MINIO_BUCKET_RAW=school-raw
MINIO_BUCKET_STAGING=school-staging
MINIO_BUCKET_PROCESSED=school-processed

AIRFLOW_UID=50000
AIRFLOW__CORE__EXECUTOR=LocalExecutor

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin