__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env
.vscode/
.idea/
*.log

logs/
airflow.db
airflow.cfg

data/raw/*
data/staging/*
data/processed/*
!data/sample/

great_expectations/uncommitted/

*.db
*.sqlite

.pytest_cache/
.coverage
htmlcov/